<table>
 <thead>
  <tr>
   <th>Food</th>
   <th>Measurement unit</th>
   <th>price</th>
   <th>Actions</th>
  </tr>
 </thead>
 <tbody>
  <% @foods.each do |item| %>
   <tr>
    <td><%= item.name %></td>
    <td><%= item.measurement_unit%></td>
    <td><%= item.price %></td>
    <td><%= button_to 'Delete', food_path(item.id), method: :delete %></td>
   </tr>
  <% end %>
 </tbody>

</table>