<% if user_signed_in? %>
  <p class='alert'>Welcome <%= current_user.email%></p>
<% end %>

<h3>This is the list of our users:</h3>
<ul class='card'>
  <% @users.each do |user| %>
   <li>Name: <%= user.name || "Nil" %></li>
   <li>Email: <%= user.email %></li>
  <%end%>
</ul>

<% unless user_signed_in? %>
  <%= link_to 'sign in', new_user_session_path %>
<% end %>